MONGODB_URI='mongodb+srv://username:password@cluster0.s9ojk8o.mongodb.net/'
JWT_ACCESS_KEY=
JWT_REFRESH_KEY=

CLIENT_ORIGIN=http://localhost:8000

AWS_REGION=
AWS_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

MULTER_DEST='./upload'

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

API_URL=http://localhost:3000

PORT=3000


FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=